body{
    background-image: url(http://creativity103.com/collections/Smoke/smoke_mist.jpg)
}
a{
    color: azure;
}
body{
    border: 50px solid darkslategrey;
    padding: 40px;
    margin: 0px;
}
body{
    color: azure;
}